body{
    background-color: gray;
}
#container {
    border: blue solid 1px;
    height: auto;
    width: auto;
  }
#div-result-query {
  width: 100%;
  max-width: 1200px;
  border: blue solid 1px;
}
.crud {
    border: rgb(183, 0, 255) solid 1px;
}
.form-filter{
    border: blue solid 1px;
    
}
.cabecera{
    border: blue solid 1px;
    background-color: rgb(155 159 167);
    padding-top: 15px /* Para igualar con el padding-botoom */
}

.ocultar{
    display: none;
	width: 100%;
	margin: auto;
	height: 0px;
	background: #000;
	box-shadow: 10px 10px 3px #D8D8D8;
	transition: height .4s;
    text-align: center;
}
.campos-insert{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
input[type="text"] {  
  min-width: 100px;
  padding-right: 5px;
}