<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Pagina Principal</title>
</head>
<body>
	<h1 th:inline="text">Bienvenido a la pagina principal !! [[${#httpServletRequest.remoteUser}]] !!</h1>
	<p th:text="#{info.DDBB}">Welcome to our grocery store!</p>
	<p th:text="#{home.welcome}">Welcome to our grocery store!</p>
	<h3 th:text="#{saludo.pais}"></h3>
	<br>
	<a href="/admin/dashboard">DashBoard Admin</a>
	<br>
	<a href="/user/dashboard">DashBoard User</a>
	<br>

	<br>
	<a href="/user">Signup</a>	
	<br>
	
	<br>
	<a href="/index">Futuro login</a>	
	<br>
	<a href="/logout">Logout</a>
</body>
</html>