<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>User Information and Form</title>
	
	<!--JQUERY-->
	<script
		 		src="https://code.jquery.com/jquery-3.3.1.min.js"
 			integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
 			crossorigin="anonymous"></script>
 			<!-- JQuery para auto-ajuste del with de los inpus -->
 	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	
	<!-- FRAMEWORK BOOTSTRAP para el estilo de la pagina-->
	<link rel="stylesheet"
		href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	<script
		src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<!-- duplicado Jquery con distinto orden.
  	<script 
		src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
-->
	<script 
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	
	<!-- Los iconos tipo Solid de Fontawesome-->
	<link rel="stylesheet"
		href="https://use.fontawesome.com/releases/v6.0.8/css/solid.css">
	<script src="https://use.fontawesome.com/releases/v6.0.7/js/all.js"></script>
	
	<!-- Nuestro css-->
	<link rel="stylesheet" type="text/css" href="static/css/user-form.css"
		th:href="@{/css/user-form.css}">

	<!-- css para el generador de consultas -->
	<link rel="stylesheet" type="text/css" href="static/css/sql.css"
		th:href="@{/css/sql.css}">

	<!-- css para el dashboard con los cursos -->
	<link rel="stylesheet" type="text/css" href="static/css/cursos/dashboardCursos.css"
		th:href="@{/css/cursos/dashboardCursos.css}">
		
    	<!-- css para el detalle con los cursos -->
	<link rel="stylesheet" type="text/css" href="static/css/cursos/detalle.css"
		th:href="@{/css/cursos/detalle.css}">
			
	
	<!-- DATA TABLE -->
	<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
	<script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/css/bootstrap.css">	
	<link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css">
	
	<!-- JavaScript para el gnerador de consultas  -->
	
	<!-- Funcionalidad para el paginado, ordenación de campos y busquedas en la tablas  -->
	<script type="text/javascript" th:src="@{/js/table.js}" /> </script>

	<!-- Funcionalidades del dashboard  -->
	<script type="text/javascript" th:src="@{/js/dashboardCursos.js}" /> </script>
	
	
</head>
<body>
	<div class="container">
	<div class="mx-auto col-sm-32 main-section" id="myTab" role="tablist">
	
		<ul class="nav nav-tabs justify-content-end">
			<li class="nav-item">
																																				   
			 <a class="nav-link" th:classappend=" ${tabUser}" href="#" th:href="@{/listUser}"     role="tab" aria-controls="list" aria-selected="false">Usuarios</a>
			</li>
			<li class="nav-item">
			<a class="nav-link" th:classappend=" ${tabCurso}"  href="#" th:href="@{/cursolist}" > <span>Cursos </span></a>																																						
			</li>
			<li class="nav-item">
			<a class="nav-link" th:classappend=" ${tabTodo}"  href="#" th:href="@{/todolist}" > <span>To-Dos </span></a>																																						
			</li>
			<li class="nav-item">
			 <a class="nav-link" th:classappend=" ${tabAdmin}" href="#" th:href="@{/admin}"  >Admin</a>
			</li>
			<li class="nav-item">
			<a class="nav-link" href="#" th:href="@{/logout}"><span th:text="${#authentication.getPrincipal().getUsername()}"></span> - <span>logout </span><span> ` </span><span class="float-right"> <i class="fas fa-sign-out-alt"></i></span></a>			   	
			</li>			
			
		</ul>
	

		<div class="tab-content" id="myTabContent">
			<!--  TODO LIST-->
			<div class="tab-pane fade show" th:classappend=" ${listTabTodo}" id="todo-list" role="tabpanel" aria-labelledby="list-tab-todo">
				<div class="card">
					<div class="card-header">
						<h4>To-Dos</h4>
						<ul class="nav nav-tabs justify-content-end">
						<li class="nav-item">
							<a class="nav-link show" th:classappend=" ${listTabTodo}"  href="#" th:href="@{/todolist}"> <span>Listado </span></a>
						</li>
						<li class="nav-item">			
						<a class="nav-link" href="#" th:href="@{/todoAlta}" role="tab" aria-controls="form" aria-selected="true">Alta</a>		   	
						</li>						
						
						</ul>
					</div>
					<div class="card-body">
						<!-- Falla la tabla --> <div th:include="security/user-form/todo-list.html"  th:remove="tag"></div>
					</div>
				</div>
			</div>
			<!--  TODO FORM -->
			<div class="tab-pane fade show" th:classappend=" ${formTabTodo}" id="todo-form" role="tabpanel" aria-labelledby="form-tab-todo">
				<div class="card">
					<div class="card-header">
						<h4 th:if="${editModeTodo}">Edit To-do</h4>
						<h4 th:if="!${editModeTodo}">Alta To-do</h4>
					</div>
					<div class="card-body">
						 <div th:include="security/user-form/todo-form.html" th:if="${activoFormTodo}" th:remove="tag"></div> 
					</div>
				</div>
			</div>
			
			<!--  CURSOS LIST-->
			<div class="tab-pane fade show" th:classappend=" ${listTabCurso}" id="curso-list" role="tabpanel" aria-labelledby="list-tab-curso">
				<div class="card">
					<div class="card-header">
						<h4>Cursos</h4>
						<ul class="nav nav-tabs justify-content-end">
						<li class="nav-item">
							<a class="nav-link show" th:classappend=" ${listTabCurso}"  href="#" th:href="@{/cursolist}"> <span>All Cursos </span></a>
						</li>
					
						
						</ul>
					</div>
					<div class="card-body-">
						<div th:include="cursos/dashboard.html"  th:remove="tag"></div>
					</div>
				</div>
			</div>
			<!--  CURSOS DETAIL-->
			<div class="tab-pane fade show" th:classappend=" ${detailTabCurso}" id="curso-detail" role="tabpanel" aria-labelledby="detail-tab-curso">
				<div class="card">
					<div class="card-header">
						<h4>Cursos</h4>
						<ul class="nav nav-tabs justify-content-end">
						<li class="nav-item">
							<a class="nav-link show" th:classappend=" ${detailTabCurso}"  href="#" th:href="@{/cursolist}"> <span>All Cursos </span></a>
						</li>
					
						
						</ul>
					</div>
					<div class="card-body-">
						<div th:include="cursos/detalle.html"  th:remove="tag"></div>
					</div>
				</div>
			</div>

			<!-- USER LIST -->
			<div class="tab-pane fade show" th:classappend=" ${listTabUser}" id="list" role="tabpanel" aria-labelledby="list-tab-user">
				<div class="card">
					<div class="card-header">
						<h4>Users</h4>
						
						<ul class="nav nav-tabs justify-content-end">
							<li class="nav-item">
							<a class="nav-link"  id="ajustes-tab" data-toggle="tab" href="#ajustes" role="tab" aria-controls="form" aria-selected="true">Ajustes</a>
							</li>
							<li class="nav-item">
							<a class="nav-link show" th:classappend=" ${listTabUser}"  href="#" th:href="@{/listUser}"> <span>Listado </span></a>
							</li>
							<li class="nav-item">	
								
							<a class="nav-link" href="#" th:href="@{/AltaUser}" role="tab" aria-controls="form" aria-selected="true">Alta</a>			  	
							</li>
						</ul>
					</div>
					<div class="card-body">
						<!-- --> <div th:include="security/user-form/user-list.html" th:remove="tag"></div>
					</div>
				</div>
			</div>
			<!-- USER FORM -->
			<div class="tab-pane fade show" th:classappend=" ${formTabUser}" id="form" role="tabpanel" aria-labelledby="form-tab">
				<div class="card">
					<div class="card-header">
						<h4 th:if="${editModeUser}">Edit User</h4>
						<h4 th:if="!${editModeUser}">Alta User</h4>
					</div>
					<div class="card-body">
						<div th:include="security/user-form/user-form.html" th:if="${activoFormUser}" th:remove="tag"></div>
					</div>
				</div>
			</div>
			
			<!-- ADMIN SQL-->
			<div class="tab-pane fade show" th:classappend=" ${listTabSql}" id="idSql" role="tabpanel" aria-labelledby="list-tab-admin">
				<div class="card">
					<div class="card-header">
						<h4>Admin</h4>
						<ul class="nav nav-tabs justify-content-end">
						<li class="nav-item">
							<a class="nav-link show" th:classappend=" ${listTabSql}"  href="#" th:href="@{/sql}"> <span>SQL </span></a>
						</li>
						<li class="nav-item">
							<a class="nav-link show" th:classappend=" ${listTabLog}"  href="#" th:href="@{/log}"> <span>Log </span></a>
						</li>
						
						</ul>
					</div>
					<div class="card-body">
						<div th:include="mtn/sql/generadorsql.html" th:remove="tag"></div>
					</div>
				</div>
			</div>
			<!--  ADMIN LOG -->
			<div class="tab-pane fade show" th:classappend=" ${listTabLog}" id="idLog" role="tabpanel" aria-labelledby="list-tab-admin">
				<div class="card">
					<div class="card-header">
						<h4>Admin</h4>
						<ul class="nav nav-tabs justify-content-end">
						<li class="nav-item">
							<a class="nav-link show" th:classappend=" ${listTabSql}"  href="#" th:href="@{/sql}"> <span>SQL </span></a>
						</li>
						<li class="nav-item">
							<a class="nav-link show" th:classappend=" ${listTabLog}"  href="#" th:href="@{/log}"> <span>Log </span></a>
						</li>
						
						</ul>
					</div>
					<div class="card-body">
						<label> En construcción</label>

					</div>
				</div>
			</div>
			
		</div>
	</div>
</div>
		
 <!--  <div th:include="security/user-form/confirm-delete-dialog.html" th:remove="tag"></div>  -->
  <div th:if="${editMode}" th:include="security/user-form/change-password.html" th:remove="tag"></div>
  <div th:include="security/user-form/confirm-delete-modal.html" th:remove="tag"></div>
  
  <!-- JavaScript para el gnerador de consultas  Es necesario que este al final para acceder a los elementos DOM-->
  <script type="text/javascript" th:src="@{/js/sql.js}" /> </script>
  
</body>
</html>
