<div class="table-responsive">
	<table id="todoList" class="table table-bordered table-hover table-striped">
		<thead class="thead-light">
		<tr>
			<th scope="col">#ToDo</th>
			<th scope="col">Descripcion</th>
			<th scope="col">Estado</th>
			<th scope="col">Prioridad</th>
			<th scope="col">Tipo</th>
			<th></th>
			<th></th>
		</tr>
		</thead>
		<tbody>
		<tr th:each="todo: ${toDoList}">
			<td th:text="${todo.id}"></td>
			<td th:text="${todo.descripcion}"></td>
			<td th:text="${todo.estado}"></td>
			<td th:text="${todo.prioridad}"></td>
			<td th:text="${todo.tipo}"></td>
			<td>	
	
			</td>
		<td>	
				
				

			</td>
		</tr>
		</tbody>
	</table>

	
</div>


 
<div id="deleteError" th:if="${deleteError}" class="alert alert-danger text-center" role="alert">
	<span th:text="${deleteError}"></span>
</div>


<script type="text/javascript">
function confirmDelete(id){
	$('#deleteModal').modal('show');
	$("#userIdHiddenInput").val(id);
}

function deleteUser(){
	var id = $("#userIdHiddenInput").val();
    window.location = "deleteUser/"+id;
}

</script>

