<div th:with="disableFields=!${editMode} and ${#authorization.expression('hasRole(''cl'')')}">
<form class="form" role="form" id="todoForm" th:object="${todoForm}" method="post" th:action="${signup} ?@{/signup} :(${editMode} ?@{/editUser} :@{/todoAlta})"  autocomplete="off" >
	<input class="form-control" type=hidden th:field="${todoForm.id}"  th:if="${editMode}"> <!--Es necesario para poder pasar la validacion del Model-->
	<input class="form-control" type=hidden name="password" value="xxxx" th:if="${editMode}">
	

	
	<div class="form-group row">
		<label class="col-lg-3 col-form-label form-control-label">Descripción</label>
		<div class="col-lg-9">
			<input class="form-control" type="text" th:field="${todoForm.descripcion}" th:disabled="${disableFields}">
			<div class="alert-danger" th:if="${#fields.hasErrors('descripcion')}" th:errors="*{descripcion}">Name Error</div>
		</div>
	</div>
	<div class="form-group row">
		<label class="col-lg-3 col-form-label form-control-label">Estado</label>
		<div class="col-lg-9">
			<input class="form-control" type="text" th:field="${todoForm.estado}" th:disabled="${disableFields}">
			<div class="alert-danger" th:if="${#fields.hasErrors('estado')}" th:errors="*{estado}">Name Error</div>
		</div>
	</div>
	<div class="form-group row">
		<label class="col-lg-3 col-form-label form-control-label">Prioridad</label>
		<div class="col-lg-9">
			<input class="form-control" type="text" th:field="${todoForm.prioridad}" th:disabled="${disableFields}">
			<div class="alert-danger" th:if="${#fields.hasErrors('prioridad')}" th:errors="*{prioridad}">Name Error</div>
		</div>
	</div>
	<div class="form-group row">
		<label class="col-lg-3 col-form-label form-control-label">Tipo</label>
		<div class="col-lg-9">
			<input class="form-control" type="text" th:field="${todoForm.tipo}" th:disabled="${disableFields}">
			<div class="alert-danger" th:if="${#fields.hasErrors('tipo')}" th:errors="*{tipo}">Name Error</div>
		</div>
	</div>









	<div class="alert alert-danger text-center" th:if="${formErrorMessage}" th:text="${formErrorMessage}">Error MEssage</div>
</form>
</div>