<div th:with="disableFields=!${editMode} and ${#authorization.expression('hasRole(''cl'')')}">
<form class="form" role="form" id="userForm" th:object="${userForm}" method="post" th:action="${signup} ?@{/signup} :(${editMode} ?@{/editUser} :@{/userForm})"  autocomplete="off" >
	<input class="form-control" type=hidden th:field="${userForm.id}"  th:if="${editMode}"> <!--Es necesario para poder pasar la validacion del Model-->
	<input class="form-control" type=hidden name="password" value="xxxx" th:if="${editMode}">
	
	<div th:if="${signup}" >
	<!--  	<div class="form-group row">
			<label class="col-lg-3 col-form-label form-control-label">Activo</label>	
			<div class="col-lg-9">
			  <input type="radio" id="activo_si" name="activo" value=0 th:field="${userForm.status}" >
			  <label for="dewey">No</label>
			  <div class="alert-danger" th:if="${#fields.hasErrors('status')}" th:errors="*{status}">Name Error</div>
			</div>
		</div>	-->
	</div>


  
	<div th:if="!${signup}"  >
		<div class="form-group row">
			<label class="col-lg-3 col-form-label form-control-label">Activo</label>	
			<div class="col-lg-9">
			  <input type="radio" id="activo_si" name="activo" value=1 th:field="${userForm.status}">
			  <label for="deweyd">Si</label>
			  <input type="radio" id="activo_no" name="activo" value=0 th:field="${userForm.status}" >
			 <!--   <input type="radio" id="activo_no" name="activo" value=0 th:field="${userForm.status}" th:disabled=true>-->
			  <label for="dewey">No</label>
			  <div class="alert-danger" th:if="${#fields.hasErrors('status')}" th:errors="*{status}">Name Error</div>
			</div>
			
		</div>		
	</div>
	

	
	<div class="form-group row">
		<label class="col-lg-3 col-form-label form-control-label">First name</label>
		<div class="col-lg-9">
			<input class="form-control" type="text" th:field="${userForm.firstName}" th:disabled="${disableFields}">
			<div class="alert-danger" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}">Name Error</div>
		</div>
	</div>
	<div class="form-group row">
		<label class="col-lg-3 col-form-label form-control-label">Last
			name</label>
		<div class="col-lg-9">
			<input class="form-control" type="text" th:field="${userForm.lastName}" th:disabled="${disableFields}">
			<div class="alert-danger" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}">Name Error</div>
		</div>
	</div>
	<div class="form-group row">
		<label class="col-lg-3 col-form-label form-control-label">Apellido 2
			</label>
		<div class="col-lg-9">
			<input class="form-control" type="text" th:field="${userForm.apellido2}" th:disabled="${disableFields}">
			<div class="alert-danger" th:if="${#fields.hasErrors('apellido2')}" th:errors="*{apellido2}">Name Error</div>
		</div>
	</div>
	<div class="form-group row">
		<label class="col-lg-3 col-form-label form-control-label">Municipio
			</label>
		<div class="col-lg-9">
			<input class="form-control" type="text" th:field="${userForm.municipio}" th:disabled="${disableFields}">
			<div class="alert-danger" th:if="${#fields.hasErrors('municipio')}" th:errors="*{municipio}">Name Error</div>
		</div>
	</div>
	<div class="form-group row">
		<label class="col-lg-3 col-form-label form-control-label">Direccion
			</label>
		<div class="col-lg-9">
			<input class="form-control" type="text" th:field="${userForm.direccion}" th:disabled="${disableFields}">
			<div class="alert-danger" th:if="${#fields.hasErrors('direccion')}" th:errors="*{direccion}">Name Error</div>
		</div>
	</div>
	<div class="form-group row">
		<label class="col-lg-3 col-form-label form-control-label">Telefono
			</label>
		<div class="col-lg-9">
			<input class="form-control" type="text" th:field="${userForm.telefono}" th:disabled="${disableFields}">
			<div class="alert-danger" th:if="${#fields.hasErrors('telefono')}" th:errors="*{telefono}">Name Error</div>
		</div>
	</div>
	<div class="form-group row">
		<label class="col-lg-3 col-form-label form-control-label">Observaciones
			</label>
		<div class="col-lg-9">
			<input class="form-control" type="text" th:field="${userForm.observaciones}" th:disabled="${disableFields}">
			<div class="alert-danger" th:if="${#fields.hasErrors('observaciones')}" th:errors="*{observaciones}">Name Error</div>
		</div>
	</div>

	<div class="form-group row">
		<label class="col-lg-3 col-form-label form-control-label">Email</label>
		<div class="col-lg-9">
			<input class="form-control" type="email" th:field="${userForm.email}" th:disabled="${disableFields}">
			<div class="alert-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Name Error</div>
		</div>
	</div>
	<div class="form-group row">
		<label class="col-lg-3 col-form-label form-control-label">Username</label>
		<div class="col-lg-9">
			<input class="form-control" type="text" th:field="${userForm.username}" th:disabled="${disableFields}">
			<div class="alert-danger" th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Name Error</div>
		</div>
	</div>
	<div class="form-group row">
		<label th:text="Roles" class="col-lg-3 col-form-label form-control-label"></label>
		<div class="col-lg-9">
			<select th:field="${userForm.roles}" class="form-control" size="@{signup}?1 : 3" th:disabled="${disableFields}">
				<option th:each="role :${roles}" th:value="${role.id}" th:text="${role.name}">
				</option>
			</select>
		</div>
	</div>
	<input class="form-control" type=hidden name="password" value="xxxx" th:if="${editMode}">
	<!-- <input class="form-control" type=hidden th:field="${userForm.password}" th:if="${editMode}">   para no Mostrar el password en el html.-->
	<div class="form-group row" th:if="${editMode==null or editMode==false}">
		<label class="col-lg-3 col-form-label form-control-label">Password</label>
		<div class="col-lg-9">
			<input class="form-control" type="password" th:field="${userForm.password}" th:disabled="${disableFields}">
			<div class="alert-danger" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">password Error</div>
		</div>
	</div>
	<div class="form-group row" th:if="${editMode==null or editMode==false}">
		<label class="col-lg-3 col-form-label form-control-label">Confirm</label>
		<div class="col-lg-9">
			<input class="form-control" type="password" th:field="${userForm.confirmPassword}" th:disabled="${disableFields}">
			<div class="alert-danger" th:if="${#fields.hasErrors('confirmPassword')}" th:errors="*{confirmPassword}">confirmPassword Error</div>
		</div>
	</div>
	<div class="form-group row">
		<div class="col-lg-12 text-center">
			<a class="btn btn-secondary"  th:href="@{'/editUser/cancel'}">Cancel</a>
			<button type="button" class="btn btn-secondary" data-toggle="modal" th:if="${editMode}" data-target="#changePasswordModal">Change Password</button>
			<input type="submit" class="btn btn-primary"
				value="Save Changes" th:value="${editMode}?'Save User':'Create User'">
		</div>
	</div>
	<div class="alert alert-danger text-center" th:if="${formErrorMessage}" th:text="${formErrorMessage}">Error MEssage</div>
</form>
</div>