<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<title>User Information and Form</title>
	
	<!--JQUERY-->
	<script
		 		src="https://code.jquery.com/jquery-3.3.1.min.js"
 			integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
 			crossorigin="anonymous"></script>
	
	<!-- FRAMEWORK BOOTSTRAP para el estilo de la pagina-->
	<link rel="stylesheet"
		href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	<script
		src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<!-- duplicado Jquery con distinto orden.
  	<script 
		src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
-->
	<script 
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	
	<!-- Los iconos tipo Solid de Fontawesome-->
	<link rel="stylesheet"
		href="https://use.fontawesome.com/releases/v5.0.8/css/solid.css">
	<script src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
	
	<!-- Nuestro css-->
	<link rel="stylesheet" type="text/css" href="static/css/user-form.css"
		th:href="@{/css/user-form.css}">

		<!-- css para el generador de consultas -->
		<link rel="stylesheet" type="text/css" href="static/css/sql.css"
		th:href="@{/css/sql.css}">

		
			
	
	<!-- DATA TABLE -->
	<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
	<script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/css/bootstrap.css">	
	<link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css">
	
	<!-- JavaScript para el gnerador de consultas  -->
	<script type="text/javascript" th:src="@{/js/sql.js}" /> </script>
	<!-- Funcionalidad para el paginado, ordenación de campos y busquedas en la tablas  -->
	<script type="text/javascript" th:src="@{/js/table.js}" /> </script>


	
	
</head>
<body>
	<div class="container">
	<div class="mx-auto col-sm-8 main-section" id="myTab" role="tablist">
	
		<ul class="nav nav-tabs justify-content-end">
			<li class="nav-item">
																																				   
			 <a class="nav-link" th:classappend=" ${listTabUser}" href="#" th:href="@{/userForm}"     role="tab" aria-controls="list" aria-selected="false">Usuarios</a>
			</li>
			<li class="nav-item">
			<a class="nav-link" th:classappend=" ${listTabToDo}"  href="#" th:href="@{/todolist}" > <span>To-Dos </span></a>
																																									
			</li>
			<li class="nav-item">
			 <a class="nav-link" th:classappend=" ${listTabAdmin}" href="#" th:href="@{/admin}"  >Admin</a>
			</li>
			<li class="nav-item">
			<a class="nav-link" href="#" th:href="@{/logout}"><span th:text="${#authentication.getPrincipal().getUsername()}"></span> - <span>logout </span><span> ` </span><span class="float-right"> <i class="fas fa-sign-out-alt"></i></span></a>			   	
			</li>			
			
		</ul>
	

		<div class="tab-content" id="myTabContent">





			<div class="tab-pane fade show" th:classappend=" ${listTabToDo}" id="todo" role="tabpanel" aria-labelledby="list-tab-todo">
				<div class="card">
					<div class="card-header">
						<h4>To-Dos</h4>
						<ul class="nav nav-tabs justify-content-end">
						<li class="nav-item">
							<a class="nav-link show" th:classappend=" ${listTabToDo}"  href="#" th:href="@{/todolist}"> <span>Listado </span></a>
						</li>
						<li class="nav-item">			
						<a class="nav-link" href="#" th:href="@{/todoAlta}" role="tab" aria-controls="form" aria-selected="true">Alta</a>		   	
						</li>						
						
						</ul>
					</div>
					<div class="card-body">
						<div th:include="security/user-form/todo-list.html" th:remove="tag"></div>
					</div>
				</div>
			</div>
			<div class="tab-pane fade show" th:classappend=" ${todoformTab}" id="todo-form" role="tabpanel" aria-labelledby="form-tab-todo">
				<div class="card">
					<div class="card-header">
						<h4>Alta To-do</h4>
					</div>
					<div class="card-body">
						<div th:include="security/user-form/todo-form.html" th:remove="tag"></div>
					</div>
				</div>
			</div>


			<div class="tab-pane fade show" th:classappend=" ${listTabUser}" id="list" role="tabpanel" aria-labelledby="list-tab-user">
				<div class="card">
					<div class="card-header">
						<h4>User</h4>
						
						<ul class="nav nav-tabs justify-content-end">
							<li class="nav-item">	
							<a class="nav-link" th:classappend=" ${formTab}" id="form-tab" data-toggle="tab" href="#form" role="tab" aria-controls="form" aria-selected="true">Alta</a>		  	
							</li>
						
						</ul>
					</div>
					<div class="card-body">
						<div th:include="security/user-form/user-list.html" th:remove="tag"></div>
					</div>
				</div>
			</div>
			<div class="tab-pane fade show" th:classappend=" ${formTab}" id="form" role="tabpanel" aria-labelledby="form-tab">
				<div class="card">
					<div class="card-header">
						<h4>User Information</h4>
					</div>
					<div class="card-body">
						<div th:include="security/user-form/user-form.html" th:remove="tag"></div>
					</div>
				</div>
			</div>
			
			<div class="tab-pane fade show" th:classappend=" ${listTabAdmin}" id="todo" role="tabpanel" aria-labelledby="list-tab-admin">
				<div class="card">
					<div class="card-header">
						<h4>Admin</h4>
						<ul class="nav nav-tabs justify-content-end">
						<li class="nav-item">
							<a class="nav-link show" th:classappend=" ${listTabAdmin}"  href="#" th:href="@{/sql}"> <span>SQL </span></a>
						</li>
					
						
						</ul>
					</div>
					<div class="card-body">
						<div th:include="mtn/sql/generadorsql.html" th:remove="tag"></div>
					</div>
				</div>
			</div>
			
		</div>
	</div>
</div>
		
 <!--  <div th:include="security/user-form/confirm-delete-dialog.html" th:remove="tag"></div>  -->
  <div th:if="${editMode}" th:include="security/user-form/change-password.html" th:remove="tag"></div>
  <div th:include="security/user-form/confirm-delete-modal.html" th:remove="tag"></div>
  
</body>
</html>
