<!-- 
<form  id="queryForm"  method="post" th:action="${signup_}"  autocomplete="off" >
 -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.15.3/xlsx.full.min.js"></script>
    
<div class="form_edit" th:object="${editarcurso}">
	<div id="cursoEditBasic" class="formCurso">
	<div class="formRow ">
		
		<input
			id="id_curso"
			th:value="${editarcurso.id}"
			type="hidden"
		>
	
		<label>Nombre Curso</label>
		<input
			id="id_name_curso"
			class="form_input width400" type="text"
			th:value="${editarcurso.nombre}"
		>	
	
	</div>
	<label value="Descripción">Descripción</label>
	<input
		id="id_desc_curso" 
		class="form_input" type="text"
		th:value="${editarcurso.descripcion}"
	>

	<label>Fuente</label>
	<input 
		id="id_source_curso"
		class="form_input" type="text"
		th:value="${editarcurso.fuente}"
	>

	<label>Url Imagen</label>
	
	<input 
		id="id_img_curso"
		class="form_input" type="text"
		th:value="${editarcurso.urlimagen}"
	>

	<label>Url Icono</label>
	<input 
		id="id_icono_curso"
		class="form_input" type="text"
		th:value="${editarcurso.urlicono}"
	>
	
	<div class="main__apn_btn_crud">
		<button id="btn_gua"  
			onclick="saveCurso()"
			class="btn_green btn_gua"
			th:classappend=" ${btn_gua}"
			>Guardar datos
		</button>
		<button id="btn_alt"
			onclick="altCurso()" 
			class="btn_green btn_alt "
			th:classappend=" ${btn_alt}"	
			>Alta
		</button>

		<a id="back" class="btn_red btn_rojo "  
			th:href="@{/cursolistEdit}">
			Cancelar			 
		</a>
	
		<button id="btn_mod"
			onclick="modAporte(this.id)" 
			class="btn_blue btn_mod oculto">Modificar
		</button>
		<button id="btn_del"
			onclick="deleteAporte(this.id)" 
			class="btn_red btn_del oculto">Eliminar
		</button>
		<button id="btn_cap_new"  
			onclick="showFormCapitulo()"
			class="btn_green btn_cap"
			th:classappend=" ${btn_cap}"
			>Add Capitulo
		</button>
	<!-- Input type file to upload excel file -->
	    <a id="download_plantilla"  class="btn_blue btn_download" 
	    	 th:classappend=" ${btn_import}"
	    	href="/plantillaExcel/plantillaTipo.xlsx" download="plantillaTipo">
			Descargar plantilla
	    </a>	
	
		<input 
			class="inputfile" 
			type="file" 
			id="fileUpload" 
			accept=".xls,.xlsx" 
			 th:classappend=" ${btn_import}"
		/>
        <label 
        	id="labelInput" 
        	for="fileUpload"
        	th:classappend=" ${btn_import}"
        >Buscar Excel</label>
                
        <button
        	disabled
            class="btn_green "
            type="button" 
            id="uploadExcel"
             th:classappend=" ${btn_import}"
        >Importar</button>	
        




    
    <script>
 
    var selectedFile;
    document
      .getElementById("fileUpload")
      .addEventListener("change", function(event) {
        selectedFile = event.target.files[0];
      });
    document
      .getElementById("uploadExcel")
      .addEventListener("click", function() {
        if (selectedFile) {
          var fileReader = new FileReader();
          fileReader.onload = function(event) {
            var data = event.target.result;
            var workbook = XLSX.read(data, {type: "binary"});
            workbook.SheetNames.forEach(sheet => {
            	//console.log("Test")
              let rowObject = XLSX.utils.sheet_to_row_object_array(
                workbook.Sheets[sheet]
              );
            	//console.log("rowObject");
            	//console.log(rowObject);
            	let idCurso;
            	let cadena="";
            	for (let i in rowObject) {
					  

            		//console.log(JSON.stringify(rowObject[i].Leyenda));
            		//console.log(JSON.stringify(rowObject[i]));
            		if (rowObject[i].Leyenda === "Curso" ) {
            			// Petición Rest  createCurso
					  var curso = new Object();
					  cadena=cadena+rowObject[i].Leyenda+"|";
					  cadena=cadena+rowObject[i].Nombre+"|";
					  cadena=cadena+rowObject[i].Descripcion+"|";
					  cadena=cadena+rowObject[i].Fuente+"|";
					  cadena=cadena+rowObject[i].URLImagen+"|";
					  cadena=cadena+rowObject[i].URLIcono+"|";
					  
					  curso.descripcion = rowObject[i].Descripcion;
					  curso.fuente = rowObject[i].fuente;
					  curso.urlimagen = rowObject[i].URLImagen;
					  curso.urlicono = rowObject[i].URLIcono;

            		}// fin if curso
            		if (rowObject[i].Leyenda === "Capitulo" ) {
            			 cadena=cadena+rowObject[i].Leyenda+"|";
            			 cadena=cadena+rowObject[i].Nombre+"|";
            			 cadena=cadena+rowObject[i].Descripcion+"|";
            			 cadena=cadena+rowObject[i].Orden+"|";
            		}
            		if (rowObject[i].Leyenda === "Apartado" ) {
           			 cadena=cadena+rowObject[i].Leyenda+"|";
           			 cadena=cadena+rowObject[i].Nombre+"|";
           			 cadena=cadena+rowObject[i].Descripcion+"|";
           			 cadena=cadena+rowObject[i].Recurso+"|";
           			 cadena=cadena+rowObject[i].Orden+"|";
           		}
            		cadena = JSON.stringify(rowObject[i]);
            		//cadena = rowObject[i];
            		//console.log(cadena)
            		
            		//console.log(JSON.stringify(rowObject[i].value))
            		
            	}	// fin for
            	
				  fetch("http://localhost:8080" +"/importCurso/" +
						  cadena
				  ).then((respuesta) => respuesta.json())
				    .then(function (respuesta) {
						if (respuesta.check){
							location.href = "cursolistEdit/" + respuesta.mensaje;
						} else{
							console.log(" Fail: " + respuesta.mensaje);
						}
				      
				      
				  	}
				  );            	
            	
              let jsonObject = JSON.stringify(rowObject);
              document.getElementById("jsonData").innerHTML = jsonObject;
              //console.log(jsonObject);
              console.log("------");
              
              
              
/* 
              

              let filename='reports.xlsx';
              //const filePath = path.join(__dirname, 'ouptputs/test.xlsx');
              var ws = XLSX.utils.json_to_sheet(
            		  [{A:4,B:3,C:1}, {B:2,C:3}, {C:4,D:5},{C:5,D:6},{D:8}]
            		  , {header:['H']}
            		  );
             	// var ws = XLSX.utils.json_to_sheet('[{}]');
               var wb = XLSX.utils.book_new();
               XLSX.utils.book_append_sheet(wb, ws, "People");
              // XLSX.writeFile(wb,filename); */
               
            });
          };
          fileReader.readAsBinaryString(selectedFile);
          console.log(fileReader);
        }
      });   
    
    function donwLoadPlantilla(){
    	console.log("Descargar plantilla")
 			let filename='reports.xlsx';
              //const filePath = path.join(__dirname, 'ouptputs/test.xlsx');
              var ws = XLSX.utils.json_to_sheet(
            		  [{A:4,B:3,C:1}, {B:2,C:3}, {C:4,D:5},{C:5,D:6},{D:8}]
            		  , {header:['H']}
            		  );
             	 var ws = XLSX.utils.json_to_sheet('[{}]');
               var wb = XLSX.utils.book_new();
               XLSX.utils.book_append_sheet(wb, ws, "People");
               XLSX.writeFile(wb,filename);   	
    	
    }


    
    </script>
		
		
		
	</div>

</div>

<div id="capitulo_new" class="oculto">
	<div class="capNew">
	<div class="itemCapNew">
		<label>Nuevo Capitulo</label>
	</div>
	<div class="itemCapNew nombreCap">
		<label>Nombre</label>
		<input class="form_input" id="id_cap_nombre_new" type="text"
			placeholder="Nombre"
		>		
	</div>
	<div class="itemCapNew descripcionCap">
		<label>Descripcion</label>
		<input class="form_input" id="id_cap_descripcion_new" type="text"
			placeholder="Descripcion"
		>	
	</div>
	<div class="itemCapNew ordenCap" >
		<label>Orden</label>
		<input class="form_input" id="id_cap_orden_new" type="number"
			onKeyPress="return soloNumeros(event)"
			placeholder="orden"
		>
	</div>
	<div class="itemCapNew">
	<button id="btn_cap"  
		onclick="addCapitulo(this.id)"
		class="btn_green btn_cap ">Add
	</button>
			<button id="btn_cap_cancel"  
			onclick="showFormCapitulo()"
			class="btn_red btn_cap ">Cancelar
		</button>
	</div>
	</div>
</div>
<div id="capituloList" class="capituloList">
	<div class="itemCapList">
		<h3>Listado de Capitulos</h3>
	</div>
	<div class="itemCapList">
		<select  
			id="selectCap"
			name="campo" 
			class="select-css form-control" 
			onchange="selectEditarCapitulo(this.value)">
        	<option value="select">Seleccionar Capitulo</option>
        	<!-- <option th:each="capitulo :${capitulos}" th:value="${capitulo.id}" th:text="${capitulo}"> -->
        </select>
	</div>
	<div id="capSelect" class="oculto">
	<div class="itemCapList idCap">
		<label>Capitulo seleccionado</label>
		<input 
			class="form_input" 
			id="id_cap_" type="text"
			placeholder="Id"
			disabled
		>
	</div>
	<div class="itemCapList nombreCap">
		<label>Nombre</label>
		<input class="form_input" id="id_cap_nombre" type="text"
			placeholder="Nombre"
		>	
	</div>
	<div class="itemCapList descripcionCap">
		<label>Descripcion</label>
			<input class="form_input" id="id_cap_descripcion" type="text"
				placeholder="Descripcion"
			>	
	</div>
	<div class="itemCapList ordenCap">
		<label>Orden</label>
		<input class="form_input" id="id_cap_orden" type="text"
			placeholder="orden"
		>
	</div>
	<div class="itemCapList">
		<button id="btn_gua"  
			onclick="saveCapitulo(this.id)"
			class="btn_green btn_gua ">Modificar
		</button>

		<button id="btn_del"
			onclick="deleteCapitulo(this.id)" 
			class="btn_red btn_del ">Eliminar
		</button>	
		<button id="btn_cancel"
			onclick="cancelarCapitulo()" 
			class="btn_red btn_del ">Cancelar
		</button>	
		<button id="btn_new_apartado"  
			onclick="showFormApartado()"
			class="btn_green btn_cap ">Add Apartado
		</button>
	</div>
	</div>
</div>


<div id="apartado_new" class="oculto">
	<div class="capNew">
	<div class="itemCapNew">
		<label>Nuevo Apartado</label>
	</div>
	<div class="itemCapNew nombreCap">
		<label>Nombre</label>
		<input class="form_input" id="id_apar_nombre_new" type="text"
			placeholder="Nombre"
		>		
	</div>
	<div class="itemCapNew descripcionCap">
		<label>Descripcion</label>
		<input class="form_input" id="id_apar_descripcion_new" type="text"
			placeholder="Descripcion"
		>	
	</div>
	<div class="itemCapNew descripcionCap">
		<label>Recurso</label>
		<input class="form_input" id="id_apar_recurso_new" type="text"
			placeholder="Recurso"
		>	
	</div>
	<div class="itemCapNew ordenCap" >
		<label>Orden</label>
		<input class="form_input" id="id_apar_orden_new" type="number"
			onKeyPress="return soloNumeros(event)"
			placeholder="orden"
		>
	</div>
	<div class="itemCapNew">
		<button id="btn_apar"  
			onclick="addApartado()"
			class="btn_green btn_cap ">Add
		</button>
		<button id="btn_apar_cancel"  
				onclick="showFormApartado()"
				class="btn_red btn_cap ">Cancelar
		</button>
	</div>
	</div>
</div>

<div id="apartadoList" class="apartadoList ">
	<div class="itemCapList">
		<h3>Listado de Apartados</h3>
	</div>
	<div class="itemCapList">
		<select  
			id="selectApartado"
			name="campo" 
			class="select-css form-control" 
			onchange="selectEditarApartado(this.value)">
        	<option value="select">Seleccionar Apartado</option>
        	<!--  <option th:each="apartado :${apartados}" th:value="${apartado.id}" th:text="${apartado}">-->
        	
        
        </select>
	</div>
	<div id="aparSelect" class="oculto">
	<div class="itemCapList idCap">
		<label>Apartado seleccionado</label>
		<input 
			class="form_input" 
			id="id_apar_" type="text"
			placeholder="Id"
			disabled
		>
	</div>
	<div class="itemCapList nombreCap">
		<label>Nombre</label>
		<input class="form_input" id="id_apar_nombre" type="text"
			placeholder="Nombre"
		>	
	</div>
	<div class="itemCapList descripcionCap">
		<label>Descripcion</label>
			<input class="form_input" id="id_apar_descripcion" type="text"
				placeholder="Descripcion"
			>	
	</div>
	<div class="itemCapList descripcionCap">
		<label>Recurso</label>
			<input class="form_input" id="id_apar_recurso" type="text"
				placeholder="Recurso"
			>	
	</div>
	<div class="itemCapList ordenCap">
		<label>Orden</label>
		<input class="form_input" id="id_apar_orden" type="text"
			placeholder="orden"
		>
	</div>
	<div class="itemCapList">
		<button id="btn_gua"  
			onclick="saveApartado()"
			class="btn_green btn_gua ">Modificar
		</button>

		<button id="btn_del"
			onclick="deleteApartado()" 
			class="btn_red btn_del ">Eliminar
		</button>	
		<button id="btn_cancel"
			onclick="cancelarApartado()" 
			class="btn_red btn_del ">Cancelar
		</button>	
	</div>
	</div>
</div>



<br>

</div>
<!-- 
	</form>
 -->
