
.btn_rojo {
	color: #000000;
	margin: 5px;
}
.btn_rojo:hover {
	text-decoration: none;
}
.btn_download {
	color: #000000;
}
.btn_download:hover{
	background-color: #0000ff;
	text-decoration: none;
	border-radius: 10px;
}
}



.form_edit {
	padding-left: 30px;
	padding-right: 30px;
}

.formCurso{
	display: grid;
	border: 1px solid;
    border-radius: 10px;
    background-color: azure;
    padding: 10px 15px 0px 15px;
}
.formRow{
	
}

.width400 {
	width: 400px;
}

.main__apn_btn_crud {
	padding-top: 20px;
	padding-left: 40px;
	padding-bottom: 5px;
}
.capNew {
	display: flex;
	flex-direction: column;
    gap: 5px;
	border: solid;
    border-radius: 5px;
    border-width: 1px;
	background-color: azure;
	padding: 5px 15px;
} 
.itemCapNew {
	width: 100%;
}
.nombreCap input {
	width: 80%;
	padding-left: 10px;
	margin-left: 10px;
}
.descripcionCap input {
	width: 76%;
	padding-left: 10px;
	margin-left: 10px;
}
.ordenCap input {
	width: 16%;
	padding-left: 10px;
	margin-left: 10px;
}
.capituloList {
	display: flex;
	flex-direction: column;
	gap: 5px;

	border: solid;
    border-radius: 5px;
    border-width: 1px;
	background-color: azure;
	padding: 5px 15px;
}
.apartadoList {
	display: flex;
	flex-direction: column;
	gap: 5px;

	border: solid;
    border-radius: 5px;
    border-width: 1px;
	background-color: azure;
	padding: 5px 15px;
}
.idCap input {
	width: 16%;
	padding-left: 10px;
	margin-left: 10px;
}
.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}
.inputfile + label {
	font-size: 0.99em;
    font-weight: 400;
    color: black;
    background-color: white;
  
    
	padding: 0px 15px;
    cursor: pointer;
    margin: 5px;
    border-radius: 7px;
	border: 2px solid #4CAF50;
    
}

.inputfile:focus + label,
.inputfile + label:hover {
    background-color: #4CAF50;
    color: white;
}
.inputfile + label {
	cursor: pointer; /* "hand" cursor */
}
.inputfile:focus + label {
	outline: 1px dotted #000;
	outline: -webkit-focus-ring-color auto 5px;
}